body {
    background-color: white;
    margin: 0;
    font-family: Times , serif;
    color: black;
}

#content {
    max-width: 475px;
    margin: 50px auto;
    padding: 0 70px 70px;
}

hr {
    border: 1px solid gray;
    margin-bottom: 40px;
}

h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
}

h2 {
    font-size: 1em;
    margin-top: 0;
    text-align: center;
    color: rgb(54, 110, 221);
    letter-spacing: 1px;
}

p {
    line-height: 1.4;
}

li {
    line-height: 1.6;
    margin-bottom: 12px;
}

img {
    display: block;
    width: 125px;
    max-width: 100%;
    height: auto;
    margin: 40px auto 20px;
}